<article class="post">
  <h2><%= link_to question.title, question_path(question) %></h2>
  <ul class="meta">
    <li>
      <%= profile_link(question.user) %>
    </li>

    <li class="published-at">
      <%= t("question.published_at", :time => time_ago_in_words(question.created_at)) %>
    </li>

    <li class="icon view">
      <%= t("question.views_html", :count => question.views_count) %>
    </li>

    <li class="icon comment">
      <%= t("question.comments_html", :count => question.comments_count) %>
    </li>
  </ul>
</article>
