<%= form_for @question, :url => new_question_path do |f| %>
  <%= render "shared/error_messages", :record => @question %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.label :category_id %>
    <%= f.collection_select :category_id, @categories, :id, :name, :include_blank => true %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>