<%= form_for @user, :url => signup_path do |f| %>
  <%= render "shared/error_messages", :record => @user %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= hint(@user, :name) %>
  </p>

  <p>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= hint(@user, :email) %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
