<header class="main container">
  <%= link_to image_tag("hackerboard.png"), root_path %>

  <nav>
    <ul>
      <li class="home"><%= link_to t("nav.home"), root_path %></li>
      <li class="new-question"><%= link_to t("nav.new_question"), new_question_path %></li>

      <% if logged_in? %>
        <li class="logout">
          <%= t("greetings.hello", :name => current_user.name) %> |
          <%= link_to t("nav.logout"), logout_path %>
        </li>
      <% else %>
        <li class="login"><%= link_to t("nav.login"), login_path %></li>

        <li class="signup">
          <%= link_to t("nav.signup"), signup_path, :class => "button" %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>